/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  background-color: #070707;
  font-family: 'Archivo Black', sans-serif;
  font-size: 58px;
}

table {
  border-collapse: collapse;
  padding: 0px;

  width: 100%;
  margin: 0px;
}

td {
  border: none;
  background-image: url(tile1.png);
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  background-position: left top; 
}

#tile_num_28, #tile_num_56, #tile_num_136 {
  border: none;
  background-image: url(tile2.png);
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  background-position: left top; 
}

#content {
  display: inline-block;
  position: absolute;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 80%;
  padding: 0px 40px;
  /*padding: 50px;*/
  background-color: #f4f4f4;
  border: 3px solid #090909;
  border-radius: 50px;

  color: #070707;
}

p {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

#name-container p {
  position: absolute;
  display: block;
}

.highlight {
  background-color: transparent;
  top: 2px;
  left: 13px;
  color: #00ffff;
  z-index: 0;
}

.text-content {
  background-color: transparent;
  top: 5px;
  left: 15px;
  color: #090909;
  z-index: 1;
}

.shadow {
  background-color: transparent;
  top: 7px;
  left: 17px;
  color: #ffff00;
  z-index: 0;
}

#ambience {
  width: 1672px;
}

.tile {
  /*margin: 10px auto;*/
  width: 54px;
  height: 54px;
  /*border: 1px solid red;*/
  margin: 0px;
  padding: 0px;

  border: none;
  font-size: 14px;
  /*background-image: url(tile1.png);*/
}

.tile_row > td {
  padding: 0px;
}



body {
  /*font-size: 14px;*/
  /*padding-bottom: 4em;*/
  margin: 0px;
}

