<!DOCTYPE html>
<html>
  <head>
    <title>PersonalHomepage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
	  <script src="/js/jquery-3.1.0.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
